<html>
<head>

    <title>网页聊天室</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/img/logo.jpg">
    <link rel="stylesheet" href="../static/content/semantic.css">
    <link rel="stylesheet" href="../static/content/chat.css" >
    <link rel="stylesheet" href="../static/content/bootstrap.min.css">
    <link rel="stylesheet" href="//code.z01.com/v4/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="//code.z01.com/v4/dist/css/zico.min.css" >
</head>
<body>

    <!--头-->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <img src="../static/img/logo.jpg">
        <h5 class=" ml-4 my-0 mr-md-auto font-weight-normal">网页聊天室</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">
                    Hi user
            </a>
        </nav>
        <a class="btn btn-outline-primary" href="/index">logout</a>
    </div>







    <!--消息-->
    <div id="message_container" style="margin-bottom: 95px" class="container bg-light mt-2 ">

        {% for message in message_list %}
            <div class="msg-box mt-3">
                <div class="msg">
                    <span class="nickname">{{ message.username }}</span>
                    <small class="timestamp">{{ message.create_time }}</small>
                    <span class="message-body">{{ message.content }}</span>
                </div>
            </div>
        {% endfor %}


    </div>


















    <!--输入框-->
    <div class="inputarea">

        <div class="row flex-nowrap justify-content-between align-items-center mb-3">
            <div class="col-2 pt-1">

            </div>
            <div class="col-8 ">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">请输入内容</span>
                  </div>
                  <textarea id="text_area" class="form-control" aria-label="请输入内容"></textarea>
                    <button class=" ml-2 btn btn-lg btn-primary" id="send_button" >发送</button>
                </div>
            </div>

            <div class="col-8 d-flex justify-content-end align-items-center">

            </div>
        </div>
    </div>





    <script src="../static/scripts/jquery.min.js" ></script>
    <script src="../static/scripts/semantic.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="../static/scripts/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script>
        var socket = io('/')
        $(function () {
        socket.emit('start_listen',"start_listen");
        send()
        get()

    })

        function send() {
    //点击发送按钮
        console.log("send")
        $('#send_button').click(function () {
         var content = $('#text_area').val().trim();
         console.log("send message")
         console.log(content)
         if (content==""){

         }else {
            console.log("emit")
             socket.emit('new_message',{content});
             $('#text_area').val("")
         }
        })
 }
        function get() {
            console.log("get")
            socket.on('new_message', function (data) {
                console.log(data)
                $('#message_container').append(data.message_html);
                scrollToEnd();
            })
        }
        function scrollToEnd() {//滚动到底部
            var h = $(document).height() - $(window).height();
            $(document).scrollTop(h);
        }





    </script>


</body>
</html>