<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top"
        style="background-color:#F7F7F7 ">
    <div class="col-1"></div>
    <ul class="nav col-md-4 col-10 ps-0">
        <li class="nav-item"><a href="#" class="nav-link pe-5 ps-0 text-secondary">关于我们</a></li>
        <li class="nav-item"><a href="#" class="nav-link pe-5 ps-0 text-secondary">法律声明及隐私权政策</a></li>
        <li class="nav-item"><a href="#" class="nav-link pe-5 ps-0 text-secondary">加入我们</a></li>

    </ul>
    <div class="col-md-7 col-1"></div>
    <div class="col-md-1 col-sm-1 col-1"></div>
    <ul class="flex-column col-md-3 col-sm-5 col-5  ps-0 " style="list-style: none ;">
        <li class="nav-item text-small"><a href="#" class="nav-link ps-0   text-secondary">Address/地址：辽宁省大连经济技术开发区图强街321号</a>
        </li>
        <li class="nav-item text-small"><a href="#" class="nav-link ps-0  text-secondary">Tel/联系电话：020-000000
            000-000000</a></li>
    </ul>
    <ul class="flex-column col-md-3 col-sm-5 col-5 ps-0" style="list-style: none ;padding-left: 0;">
        <li class="nav-item text-small"><a href="#" class="nav-link ps-0  text-secondary">P.C./邮编：116600</a></li>
        <li class="nav-item text-small"><a href="#"
                                           class="nav-link ps-0  text-secondary">Mail/邮箱：contact@fkadjkhsf.com</a></li>
    </ul>
    <div class="col-md-5 col-sm-1 col-1"></div>
</footer>
