<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/content/bootstrap.min.css" rel="stylesheet">
    <link href="../static/content/general.css" rel="stylesheet">
    <link href="../static/content/box.css" rel="stylesheet">
    <script src="../static/scripts/bootstrap.bundle.min.js"></script>
    <script src="../static/scripts/jquery.min.js"></script>
    <script src="../static/scripts/general.js"></script>
    <title>注册成功</title>
</head>
<body>
<div id="nav"></div>
<div id="successcard" class="success_card card text-center">
    <div id="success1" class="container">
        <img id="successimg" src="../static/img/login/u93.png">
        <label id="successtext" class="h5">注册成功</label>
    </div>
    <div id="success2">
        <button id="successbtn" class="btn-primary rounded btn-lg">完成实名认证体验更多服务>></button>
    </div>
</div>
<div id="footer"></div>
</body>
</html>
